<% url_prefix = Rails.env.development? ? 'localhost:3000/api/v1' : 'dragonball-wiki-api.herokuapp.com/api/v1' %>

<h1>Dragonball Wiki API V1</h1>
<p>This site was made for educational purposes and for practicing interacting with an API.</p>
<h2>How to use this API:</h2>

<ul>
  <li>Data is returned in JSON format. To make sure it's easily readable in your browser, you can use the JSON formatter chrome extension or something similar.</li>
  <li>
    Be sure to pay attention to the url suffixes for information.<br>
  </li>
  <li>
    Example of a url:<br>
    https://dragonball-wiki-api.herokuapp.com/api/v1/characters/20<br><br>
    <strong>Base url:</strong> <em>https://dragonball-wiki-api.herokuapp.com/</em><br><br>
    <strong>Extension:</strong> <em>api/v1/characters/20</em><br>
    (Gets character with the ID of 20)
  </li>
</ul>

<h4>Example: Get all the characters</h4>
<figure>
  <pre 
    aria-describedby="example1-description"><code contenteditable="true" tabindex="0" spellcheck="false">url = 'https://dragonball-wiki-api.herokuapp.com/api/v1/characters'
response = RestClient.get(url)
all_characters_array = JSON.parse(response) 
</code></pre>
</figure>

<h4>Results in this: (array of hashes, containing character information)</h4>
<figure>
  <pre 
    aria-describedby="example1-description"><code contenteditable="true" tabindex="0" spellcheck="false">// all_characters_array
[
  {
    "id"=>4,
    "name"=>"Bardock",
    "status"=>"Dead",
    "species"=>"Saiyan",
    "series"=>"Z",
    "gender"=>"Male",
    "image"=>"https://res.cloudinary.com/hmgjpnzby/image/upload/v1605858841/dragonball-wiki-api/Characters/Bardock_ymq9sy.png",
    "url"=>"https://dragonball-wiki-api.herokuapp.com/api/v1/characters/4",
    "planet_id"=>3
  },

  {
    "id"=>5,
    "name"=>"Raditz",
    "status"=>"Dead",
    "species"=>"Saiyan",
    "series"=>"Z",
    "gender"=>"Male",
    "image"=>"https://res.cloudinary.com/hmgjpnzby/image/upload/v1605858855/dragonball-wiki-api/Characters/Raditz_l4efuy.png",
    "url"=>"https://dragonball-wiki-api.herokuapp.com/api/v1/characters/5",
    "planet_id"=>3
  }
]</code></pre>
</figure>



<h4>Results in this:</h4>
<figure>
  <pre 
    aria-describedby="example1-description"><code contenteditable="true" tabindex="0" spellcheck="false">{
  "id"=>20,
  "name"=>"Pan",
  "status"=>"Alive",
  "species"=>"Saiyan/Human",
  "series"=>"Z",
  "gender"=>"Female",
  "image"=>"https://res.cloudinary.com/hmgjpnzby/image/upload/v1605858851/dragonball-wiki-api/Characters/Pan_fhmk1w.png",
  "url"=>"https://dragonball-wiki-api.herokuapp.com/api/v1/characters/20",
  "planet_id"=>4
}</code></pre>
</figure>

<figure>
  <pre 
    aria-describedby="example1-description"><code contenteditable="true" tabindex="0" spellcheck="false">{

}</code></pre>
</figure>

<div class="flex-evenly">
  <%= link_to 'See all characters', api_v1_characters_path, class: "button" %>
  <%= link_to 'See all planets', api_v1_planets_path, class: "button button-blue" %>
</div>

<script>
  // Adds numbers to code examples.
  (function()
  {
    if(typeof(window.getComputedStyle) == 'undefined') 
    { 
      return; 
    }
    var pre = document.getElementsByTagName('pre');
    for(var len = pre.length, i = 0; i < len; i ++)
    {
      var code = pre[i].getElementsByTagName('code').item(0);
      if(!code)
      {
        code = pre[i].getElementsByTagName('samp').item(0);
        if(!code)
        {
          continue;
        }
      }
      var column = document.createElement('div');
      column.setAttribute('aria-hidden', 'true');
      for(var n = 0; n < code.innerHTML.split(/\n/g).length; n++) // Splits code by linebreak, for each linebreak it adds a number span.
      {
        column.appendChild(document.createElement('span'));
      }
      pre[i].insertBefore(column, code);
      pre[i].className = 'line-numbers';
    }  
  })();
</script>