/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   text-decoration: none;
   font-family: 'Hind Siliguri', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
}

.content-container {
   width: 85%;
   display: flex;
   flex-direction: column;
   background-color: #FFFFFF;
   margin: 0 auto;
 }

 h4, h5 {
   margin: 0;
   margin-bottom: 8px;
 }

 .button {
   background-color: salmon;
   padding: 8px 24px;
   width: 120px;
   border-radius: 8px;
   border: none;
   color: white;
   text-align: center;
   &:hover {
     background-color: rgb(188, 96, 86);
   }
 }

 .button-blue {
   background-color: steelblue;
   color: white;
   &:hover {
     background-color: rgb(57, 107, 147);
   }
 }

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

figure {
  background-color: lightgrey;
  padding: 8px;
  width: 100%;
  align-self: flex-start;
  margin: 0;
  margin-bottom: 16px;
}
pre {
  -moz-tab-size:4;
  -o-tab-size:4;
  tab-size:4;
  overflow-x:auto;
  font-size:0.8em;
  background-color: white;
  b {
    font-weight:normal;
    color:#039;
  }
}

pre u, pre u b {
  text-decoration:none;
  color:#083;
}
pre i, pre i *, pre i * * {
  letter-spacing:-0.1em;
  text-decoration:none;
  font-style:normal;
  color:#c55;
}

pre, pre code, pre samp
{
  display:block;
  margin:0;
}

pre code, pre samp
{
  white-space:pre;
  padding-left: 8px; 
  overflow-x:auto;
}

pre, pre *
{
  font:normal normal normal 1em/1.4 monaco, courier, monospace;
}

pre.line-numbers
{
  position:relative;
}
pre.line-numbers code, 
pre.line-numbers samp
{
  margin-left:3em;
}
pre div {
  display:none;
}
pre.line-numbers > div {
  display:block;
  
  position:absolute;
  top:0;
  left:0;
}
pre.line-numbers > div > span {
  display:block;
  width:2.5em;
  padding:0 0.5em 0 0;
  
  text-align:right;
}

pre.line-numbers > div {
  counter-reset:line;
}
pre.line-numbers > div > span {
  counter-increment:line;
}
pre.line-numbers > div > span::before {
  content:counter(line);
}

@media print {
  pre {
    overflow-x:visible;
    white-space:pre-wrap;
    code {
      overflow-x:visible;
      white-space:pre-wrap;
    }
  }
  pre.line-numbers div {
    display:none;
  }
  pre.line-numbers > code, 
  pre.line-numbers > samp {
    margin-left:0;
  }
}

pre b, pre strong
{
  font-weight:normal;
  color:#039;
}
pre u, pre u b, pre u strong
{
  text-decoration:none;
  color:#083;
}
pre i, pre em, pre i *, pre em *, pre i * *, pre em * *
{
  letter-spacing:-0.1em;
  text-decoration:none;
  font-style:normal;
  color:#c55;
}


.header {
  margin: 0;
  width: 100vw;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  #dragonball-logo {
    height: 80%;
    width: auto;
  }
}

.ruby-example {
  display: none;
}

.border-bottom {
  border-bottom: 3px solid orangered;
  margin-bottom: 24px;
  margin-top: 24px;
}

button.button-blue {
  border: none;
  border-radius: 8px;
  padding: 2px 8px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.footer {
  height: 100px;
  width: 100%;
  background-color: lightgrey;
  color: steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a {
    color: steelblue;
    padding: 2px 8px;
    border: 2px solid steelblue;
    border-radius: 8px;
    transition: all .2s;
    &:hover {
      transition: all .2s;
      color: salmon;
      border: 2px solid salmon;
    }
  }
}

small {
  color: red;
  padding-left: 8px;
}
